/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* NAVIGATION BAR */
#navbar{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    height: 60px;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}
/* Navigation Bar:Logo and Image */
#logo img{
    height: 86px;
    margin: 2px 24px;
}

/* Navigation Bar:List*/
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    border-radius: 12px;
}
#navbar ul li a:hover{
    background-color:white ;
    color: black;

}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 2px 224px;
    height: 360px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 427px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}



/* service section */
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid red;
    padding: 40px;
    margin: 5px;
    border-radius: 20px;
    background-color: #d6d3d3;
}
#services .box img{
    height: 169px;
    display: block;
    margin:auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}


/* client section */

#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clients img{
    height: 120px;
}
.client-item{
    padding: 34px;
}
/* contact us */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    background: url(../contact.jpg) no-repeat center center/cover;

}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    /* font-size: 1rem; */
    font-family: 'Bree Serif', serif;
}



footer{
    background-color: black;
    color: white;
    padding: 9px 22px;
}
/* utilitie class */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.0rem;
    padding: 12px;
}

.btn{
    padding: 8px;
    border: 2px solid white;
    color: white;
    background-color: brown;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
}
.center-text{
    text-align: center;
}